.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  height: 240px;
  overflow-x: auto;
  //overflow-x: hidden;
  //width: auto;
}

.banner-article {
  margin-right: 18px;
  //width: 60vw;

  // .col {
  //   height: 200px;
  // }

  img {
    height: 20vh;
    width: 60vw;
    border-radius: 10%;
  }

  .pop-ar-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .pop-ar-author {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .pop-ar-date {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 0;

  }
}

// .container {
//   width: 100%;
//   max-width: 95%;
//   margin: 2rem auto;
// }
h3 {
  color: #fff;
  font-size: 3rem;
  line-height: 1;
  font-family: sans-serif;
}
h3.darker {
  color: rgba(81,85,91,0.38);
}
.columns {
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  -webkit-column-width: 30%;
     -moz-column-width: 30%;
          column-width: 30%;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}
@media all and (max-width: 940px) {
  .columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
@media all and (max-width: 540px) {
  .columns {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
.box-wrapper {
  padding: 10px;
}
.box {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  border-radius: 6px;
  padding: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.box.one {
  height: 200px;
  background-color: #70c1b3;
}
.box.two {
  height: 300px;
  background-color: #ed6a5a;
}
.box.three {
  height: 400px;
  background-color: #f4f1bb;
}

@include media-breakpoint-up(lg) {
  .banner-article {
    img {
      width: 25vw;
    }
  }
}
